<div class="container">
    <h1>Validar Formulario</h1>
    <form [formGroup]="logFrml" (ngSubmit)="enviar(logFrml.value)">
        <div class="form-row" class="padre">
            <div class="form-group col-md-6">
                <label>Nombre Completo</label>
                <input formControlName="nombre" type="text" class="form-control" placeholder="Mariana..." maxlength="50">
                <div class="not" *ngIf="logFrml.get('nombre').hasError('required') && logFrml.get('nombre').touched">
                    ¡Este campo es requerido, introduzca su nombre!</div>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control" placeholder="ejemplo@">
                <div class="not" *ngIf="logFrml.get('email').hasError('email') && logFrml.get('email').hasError('required') && logFrml.get('email').touched">
                    ¡Este campo es requerido, introduzca su email!</div>
            </div>
        </div>
        <div class="form-row" class="padre">
            <div class="form-group col-md-6">
                <label for="inputAddress">Dirección</label>
                <input formControlName="direccion" type="text" class="form-control" placeholder="1234 Main St" maxlength="200">
                <div class="not" *ngIf="logFrml.get('direccion').hasError('required') && logFrml.get('direccion').touched">
                    ¡Este campo es requerido, introduzca su direccion!</div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">Ciudad</label>
                <input formControlName="ciudad" type="text" class="form-control" maxlength="70">
                <div class="not" *ngIf="logFrml.get('ciudad').hasError('required') && logFrml.get('ciudad').touched">
                    ¡Este campo es requerido, introduzca su ciudad!</div>
            </div>
        </div>
        <div class="form-row" class="padre">
            <div class="form-group col-md-6">
                <label for="inputState">Estado</label>
                <select formControlName="estado" class="form-control">
                    <option selected>Choose...</option>
                    <option>Puebla</option>
                    <option>Ciudad de México</option>
                    <option>Veracruz</option>
                    <option>Guerrero</option>
                    <option>Coahuila</option>
                </select>
                <div class="not" *ngIf="logFrml.get('estado').hasError('required') && logFrml.get('estado').touched">
                    ¡Este campo es requerido, seleccione su estado!</div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputZip">Codigo Postal</label>
                <input formControlName="postal" type="number" class="form-control" maxlength="6">
                <div class="not" *ngIf="logFrml.get('postal').hasError('required') && logFrml.get('postal').touched">
                    ¡Este campo es requerido, introduzca su postal!</div>
            </div>
        </div>
        <button [disabled]="logFrml.invalid" class="btn btn-primary" type="submit">Registrar</button>
    </form>
</div>